<h1 class='text-center'>Log in</h1>

<div class="row no-gutters">
  <div class="col-md-8 offset-2">
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
     
      <div class="form-container">
        <div class="form-item">
          <div class="row no-gutters">
            <div class="col-lg-4">
              <%= f.label :username %>
            </div>
            <div class="col-lg-8">
              <%= f.text_field :username, class: 'mb-3 form-control' %>
            </div>
          </div>
        </div>

        <div class="form-item">
          <div class="row no-gutters">
            <div class="col-lg-4">
              <%= f.label :password %>
            </div>
            <div class="col-lg-8">
              <%= f.password_field :password, class: 'mb-3 form-control' %>
            </div>
          </div>
        </div>
      </div>

      <%= f.submit "Log in", class: "btn primary-button w-100" %>
    <% end %>
  </div>
</div>