<div class="grid-container">
        <div class="boxed">
            <div class="inner-profile">
                <h1> <strong> Profile </strong> </h1>
                </br>
                <%= image_tag("/images/gamer_pic.jpg") %>
                </br> </br>
                <p>
                    <strong>Username:</strong>
                    <%= @user.username %>
                </p>
                <p>
                    <strong>Last name:</strong>
                    <%= @user.lastname %>
                </p>
                <p>
                    <strong>Description:</strong>
                    <%= @user.description %>
                </p>
                <p>
                    <strong>Timezone code:</strong>
                    <%= @user.timezone_code %>
                </p>
                <p>
                    <strong>Stream link:</strong>
                    <%= @user.stream_link %>
                </p>
                <% if !@channel.nil? then %>
                    <p>
                        <strong>Youtube Channel:</strong>
                        <%= @channel.title %>
                    </p>
                <% end %>
                </br>

                <% if @user.id == @current_user.id %>
                    <button class="btn btn-secondary" onClick="document.location.href+='/edit'">Edit Profile</button>
                    <button class="btn btn-secondary" onClick="document.location.href='/posts/new'">New Post</button>
                <% elsif @following then %>
                    <button class="btn btn-secondary"
                        data-reflex="click->ProfileReflex#unfollow"
                        data-user_id="<%= @user.id.to_s %>"
                        data-current_user_id="<%= @current_user.id.to_s %>"
                        >Unfollow
                    </button>
                <% else %>
                    <button class="btn btn-secondary"
                        data-reflex="click->ProfileReflex#follow"
                        data-user_id="<%= @user.id.to_s %>"
                        data-current_user_id="<%= @current_user.id.to_s %>"
                    >Follow
                    </button>
                <% end %>

            </div>
        </div>

        <div class="boxed">
            <div class="inner-profile">
                <h1><strong>My Feed</strong></h1>
                </br>
                <% @feed_posts.each do |post| %>
                    <tr>
                    <td><p><%= post %></p></td>
                    </tr>
                <% end %>
                </br>
                <p>---</p>
                <h4><strong>Streaming right now</strong></h4>
                <% @online_users.each do |user_id| %>
                    <tr>
                    <td><a href=<%= "../users/" + user_id.to_s %>><p><%= User.where(id: user_id).first.username + " at " + User.where(id: user_id).first.stream_link %></p></a></td>
                    </tr>
                <% end %>
            </div>
        </div>
    </div>