<div class="resource-heading-container d-flex justify-content-between">
  <h1 class="heading">Editing My Profile</h1>
  <div class="resource-actions my-auto">
    <%= link_to 'Back', @user, class: 'primary-button' %>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-md-8 offset-2">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
     
      <div class="form-container">
        <div class="form-item">
          <div class="row no-gutters">
            <div class="col-lg-4">
              <%= f.label :lastname %>
            </div>
            <div class="col-lg-8">
              <%= f.text_field :lastname, class: 'mb-3 form-control' %>
            </div>
          </div>
        </div>

        <div class="form-item">
          <div class="row no-gutters">
            <div class="col-lg-4">
              <%= f.label :username %>
            </div>
            <div class="col-lg-8">
              <%= f.text_field :username, class: 'mb-3 form-control' %>
            </div>
          </div>
        </div>

        <div class="form-item">
          <div class="row no-gutters">
            <div class="col-lg-4">
              <%= f.label :password %>
            </div>
            <div class="col-lg-8">
              <%= f.password_field :password, class: 'mb-3 form-control' %>
            </div>
          </div>
        </div>

        <div class="form-item">
          <div class="row no-gutters">
            <div class="col-lg-4">
              <%= f.label :password_confirmation, "Confirmation" %>
            </div>
            <div class="col-lg-8">
              <%= f.password_field :password_confirmation, class: 'mb-3 form-control' %>
            </div>
          </div>
        </div>

        <div class="form-item">
          <div class="row no-gutters">
            <div class="col-lg-4">
              <%= f.label :stream_link %>
            </div>
            <div class="col-lg-8">
              <%= f.text_field :stream_link, class: 'mb-3 form-control' %>
            </div>
          </div>
        </div>

        <div class="form-item">
          <div class="row no-gutters">
            <div class="col-lg-4">
              <%= f.label :timezone_code %>
            </div>
            <div class="col-lg-8">
              <%= f.number_field :timezone_code, in: -12..12, step: 1, class: 'mb-3 form-control' %>
            </div>
          </div>
        </div>

        <div class="form-item">
          <div class="row no-gutters">
            <div class="col-lg-4">
              <%= f.label :description %>
            </div>
            <div class="col-lg-8">
              <%=  f.text_area :description, class: 'mb-3 form-control' %>
            </div>
          </div>
        </div>
      </div>

      <%= f.submit "Update my account", class: "btn primary-button w-100" %>
    <% end %>
  </div>
</div>
