<head>
    <%= stylesheet_link_tag "/stylesheets/stylesheet.css" %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>

<body>

    <div style="text-align:center">
        <%= image_tag("/images/ladder_logo.png") %>
    </div>

    <div class="container" style="background-color:lightgray;">
        <div class="row">
            <div class="center col-sm">
            <h3><%= link_to "Home", '/' %></h3>
            </div>
            <div class="center col-sm">
            <h3><%= link_to "User Search", '/' %></h3>
            </div>
            <div class="center col-sm">
            <h3><%= link_to "Profile", '/' %></h3>
            </div>
            <div class="center col-sm">
            <h3><%= link_to "Log Out", '/' %></h3>
            </div>
        </div>
    </div>

    </br>

    <div class="grid-container">
        <div class="boxed">
            <div class="inner-profile">
                <h1> <strong> Profile </strong> </h1>
                </br>
                <%= image_tag("/images/gamer_pic.jpg") %>
                </br> </br>
                <p>
                    <strong>Username:</strong>
                    <%= @user.username %>
                </p>
                <p>
                    <strong>Last name:</strong>
                    <%= @user.lastname %>
                </p>
                <p>
                    <strong>Description:</strong>
                    <%= @user.description %>
                </p>
                <p>
                    <strong>Timezone code:</strong>
                    <%= @user.timezone_code %>
                </p>
                <p>
                <strong>Stream link:</strong>
                <%= @user.stream_link %>
                </p>
                </br>

                <% if Follow.where(user_id: @user.id, follower_id: @current_user.id).exists? then %>
                    <%= link_to '/profile/unfollow?user_id=' + @user.id.to_s, remote: true do %>
                        <button class="btn btn-secondary" onClick="window.location.reload();">Unfollow</button>
                    <% end %>
                <% else %>
                    <%= link_to '/profile/follow?user_id=' + @user.id.to_s, remote: true do %>
                        <button class="btn btn-secondary" onClick="window.location.reload();">Follow</button>
                    <% end %>
                <% end %>
            </div>
        </div>

        <div class="boxed">
            <div class="inner-profile">
                <h1><strong>Feed</strong></h1>
                </br>
                <p>No posts from your followers yet.</p>
            </div>
        </div>
    </div>
    <div class="boxed">
            <div class="inner-profile">
                <p><strong>Posts:</strong></p>
            <table>
            <% @user.posts.each do |post| %>
                <tr>
                  <td><p><%= post.text %></p></td>
                </tr>
              <% end %>
            </table>
            </br>

            <p><strong>Following: <%= @user.following.count %></strong></p>
            <% @user.following.each do |follower| %>
                <tr>
                  <td><p><%= follower.username %></p></td>
                </tr>
              <% end %>
              </table>
              <br>
              <table>
            <p><strong>Followers: <%= @user.followers.count %></strong></p>
            <% @user.followers.each do |follower| %>
                <tr>
                  <td><p><%= follower.username %></p></td>
                </tr>
              <% end %>
            </table>
        </div>
    </div>
    </br>
</body>
