<div class="row no-gutters">
  <div class="col-md-8 offset-2">
    <%= form_with(model: stream) do |f| %>
      <% if stream.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(stream.errors.count, "error") %> prohibited this stream from being saved:</h2>

          <ul>
            <% stream.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
     
      <div class="form-container">
        <div class="form-item">
          <div class="row no-gutters">
            <div class="col-lg-4">
              <%= f.label :user_id %>
            </div>
            <div class="col-lg-8">
              <%= f.number_field :user_id, class: 'mb-3 form-control' %>
            </div>
          </div>
        </div>

        <div class="form-item">
          <div class="row no-gutters">
            <div class="col-lg-4">
              <%= f.label :title %>
            </div>
            <div class="col-lg-8">
              <%= f.text_field :title, class: 'mb-3 form-control' %>
            </div>
          </div>
        </div>
      </div>

      <%= f.submit "Submit", class: "btn primary-button w-100" %>
    <% end %>
  </div>
</div>