<p id="notice"><%= notice %></p>

<div class="resource-heading-container d-flex justify-content-between">
  <h1 class="heading">Users</h1>
  <div class="resource-actions my-auto">
    <%= link_to 'New Stream', new_stream_path, class: 'primary-button' %>
  </div>
</div>

<div class="resource-body-container">
  <table class="table table-striped resource-table">
    <thead>
      <tr>
        <th scope="col">User</th>
        <th scope="col">Title</th>
        <th scope="col" colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @streams.each do |stream| %>
        <tr>
          <td><%= stream.user_id %></td>
          <td><%= stream.title %></td>
          <td><%= link_to 'Show', stream %></td>
          <td><%= link_to 'Edit', edit_stream_path(stream) %></td>
          <td><%= link_to 'Destroy', stream, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>