<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @stream.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @stream.title %>
</p>

<%= link_to 'Edit', edit_stream_path(@stream) %> |
<%= link_to 'Back', streams_path %>
