<%= form_with(model: interest) do |f| %>
  <% if interest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interest.errors.count, "error") %> prohibited this interest from being saved:</h2>

      <ul>
        <% interest.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-container">

        <div class="form-item">
          <div class="row no-gutters">
            <div class="col-lg-4">
              <%= f.label :interest %>
            </div>
            <div class="col-lg-8">
              <%= f.text_field :interest, class: 'mb-3 form-control' %>
            </div>
          </div>
        </div>
      </div>

      <%= f.submit "Submit", class: "btn primary-button w-100" %>
    <% end %>

