<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @interest.user_id %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @interest.interest %>
</p>

<%= link_to 'Edit', edit_interest_path(@interest) %> |
<%= link_to 'Back', interests_path %>
