
<p id="notice"><%= notice %></p>
<head>
    <%= stylesheet_link_tag "/stylesheets/stylesheet.css" %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <%= javascript_pack_tag 'twitchchart' %>
</head>

<body style="background-color: #315fb3">

    <div class="media-section">
        <h1 class="center" style="text-color:white"><a href=<%="https://store.steampowered.com/app/"+@game.code.to_s%>><p><%=@game.name%></p></a></h1>
    </div>
    <p>
<p>
    <div class="boxed center">
    
  <strong>Achievements:</strong><br>
  <% if @achievments%>
  <% @achievments.each do |achievment| %>
      <tr>
      <td><%=achievment["name"].downcase %></td>
      <td><%=achievment["percent"].round(3) %></td>
      </tr>
      <br>
  <% end %>
  <% end %>
  </div>
</p>
<p>
  <div class="boxed center">
  <strong>News:</strong><br>
   <% if @news%>
  <% @news.each do |item| %>
      <tr>
      
      <td><a href=<%=item["url"]%>><p><%=item["title"]%></p></a></td>
      <td><%=item["feedlabel"]%></td>
      <td><%=item["contents"]%></td>
      </tr>
      <br>
  <% end %>
  <% end %>
  </div>
</p>
<%= link_to 'Back', games_path %>
    
</body>



