<p id="notice"><%= notice %></p>

<div class="resource-heading-container d-flex justify-content-between">
  <h1 class="heading">Follows</h1>
  <div class="resource-actions my-auto">
    <%= link_to 'New Follow', new_follow_path, class: 'primary-button' %>
  </div>
</div>

<div class="resource-body-container">
  <table class="table table-striped resource-table">
    <thead>
      <tr>
        <th scope="col">User</th>
        <th scope="col">Follower</th>
        <th scope="col" colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @follows.each do |follow| %>
        <tr>
          <td><%= follow.user_id %></td>
          <td><%= follow.follower_id %></td>
          <td><%= link_to 'Show', follow %></td>
          <td><%= link_to 'Edit', edit_follow_path(follow) %></td>
          <td><%= link_to 'Destroy', follow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>