<p id="notice"><%= notice %></p>

<h1>Viewcounts</h1>

<table>
  <thead>
    <tr>
      <th>Stream</th>
      <th>Viewers</th>
      <th>Timestamp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @viewcounts.each do |viewcount| %>
      <tr>
        <td><%= viewcount.stream_id %></td>
        <td><%= viewcount.viewers %></td>
        <td><%= viewcount.timestamp %></td>
        <td><%= link_to 'Show', viewcount %></td>
        <td><%= link_to 'Edit', edit_viewcount_path(viewcount) %></td>
        <td><%= link_to 'Destroy', viewcount, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Viewcount', new_viewcount_path %>
