<p id="notice"><%= notice %></p>

<p>
  <strong>Stream:</strong>
  <%= @viewcount.stream_id %>
</p>

<p>
  <strong>Viewers:</strong>
  <%= @viewcount.viewers %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @viewcount.timestamp %>
</p>

<%= link_to 'Edit', edit_viewcount_path(@viewcount) %> |
<%= link_to 'Back', viewcounts_path %>
