<p id="notice"><%= notice %></p>

<div class="resource-heading-container d-flex justify-content-between">
  <h1 class="heading">Follows</h1>
  <div class="resource-actions my-auto">
    <%= link_to 'New Post', new_post_path, class: 'primary-button' %>
  </div>
</div>

<div class="resource-body-container">
  <table class="table table-striped resource-table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">User</th>
        <th scope="col">Text</th>
        <th scope="col">Parent post</th>
        <th scope="col" colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td><%= post.user_id %></td>
        <td><%= post.text %></td>
        <td><%= post.parent_post %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>