<div class="resource-heading-container  d-flex justify-content-between">
  <h1 class="heading">Follows</h1>
  <div class="resource-actions my-auto">
    <%= link_to 'All Posts', posts_path, class: 'primary-button' %>
    <%= link_to 'Edit', edit_post_path(@post), class: 'primary-button' %>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-md-8 offset-2">
    <div class="form-container">
      <div class="form-item">
        <div class="row no-gutters">
          <div class="col-lg-6">
            <label>Id</label>
          </div>
          <div class="col-lg-6">
            <label><%= @post.id %></label>
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-lg-6">
            <label>Gamer</label>
          </div>
          <div class="col-lg-6">
            <label><%= @post.user_id %></label>
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-lg-6">
            <label>Text</label>
          </div>
          <div class="col-lg-6">
            <label><%= @post.text %></label>
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-lg-6">
            <label>Parent Post</label>
          </div>
          <div class="col-lg-6">
            <label><%= @post.parent_post %></label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
