
<p id="notice"><%= notice %></p>

<p>
  <strong>Gamer:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
