<div style="margin:auto;width:60%;" class="boxed" data-reflex-permanent>
    <% if @user.stream_link then %>
        <h1><%= @user.stream_link[11..] + "'s stream" %></h1>
    <% else %>
        <h1>Stream:</h1>
    <% end %>
    <% if @stream_status == "offline" then %>
        <p>Stream is currently offline.</p>
    <% else %>
        <p><%= @stream.title %></p>  
        <div id="twitch-embed"></div>
        <script src="https://embed.twitch.tv/embed/v1.js"></script>
        <script type="text/javascript">
            new Twitch.Embed("twitch-embed", {
                width: "100%",
                height: 780,
                channel: "<%= @user.stream_link[11..] %>",
        });
        </script>
    <% end %>
</div>

</br>
</br>
</br>

<% if @stream_status != "offline" then %>
    <% if !@stream.tracked then %>
        <div class="center">
            <div class="center">
                <%= link_to '/users/begin_viewcount_sample?stream_id=' + @stream.id.to_s, remote: true do %>
                    <button class="btn btn-primary btn-lg">Start Tracking This Stream</button>
                <% end %>
            </div>
        </div>
    <% else %>
        <div class="center">
            <button class="btn btn-primary btn-lg" disabled>This stream is being tracked!</button>
        </div>
    <% end %>

    <div data-reflex-permanent boxed>
        <%= render partial: "twitch_chart" %>
    </div>
<% end %>