<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="<%= root_path %>"><img src="/images/ladder_logo.png" class="brand-icon"></a>
  <button class="navbar-toggler primary-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <% if logged_in? %>
        <li class="nav-item">
          <a href="#" class="nav-link disabled">You are logged in as <%= current_user.username %></a>
        </li>
         <li class="nav-item">
          <%= link_to "Users", "/users", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Games", games_path, class: "nav-link"%>
        </li> 
      <% end %>
    </ul>
    <%= form_with url: "/search", class: "form-inline my-2 my-lg-0 user-search-form mx-auto", method: :get do |form| %>
      <%= form.text_field :query, class: 'form-control mr-sm-2 query-input', placeholder: 'Username' %>
      <%= form.submit "Search", class: 'btn primary-button my-2 my-sm-0 ' %>
    <% end %>
    <ul class="navbar-nav">
      <% if logged_in? %>
        <li class="nav-item">
          <%= link_to "My Profile", "/profile?id=#{@current_user.id}", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", logout_path, class: "nav-link", method: :delete %>
        </li> 
      <% else %>
        <li class="nav-item">
          <%= link_to "Log in", login_path, class: "nav-link" %>
        </li> 
        <li class="nav-item">
          <%= link_to "Sign up", signup_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>