<nav class="navbar mb-2">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Ladder</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/users">Users</a>
          </li>
       <% if admin? %>
        </li>
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/admin/users">Admin</a>
        </li>
        <% end %>
        </ul>
          <%= form_with url: "/search", class:"d-flex",method: :get do |form|%>
          <%= form.label :query, "Username" %>
          <%= form.text_field :query %>
          <%= form.submit "Search" %>
           <% end %>

        <% if logged_in? %>
          <li><%= link_to "My Profile", "/users/#{current_user.id}", class:"nav-link active" %></li>
          <li><%= link_to "Log out", logout_path, class:"nav-link active", method: :delete %></li> 
         
    <% else %>
        <li><%= link_to "Log in", login_path, class:"nav-link active" %></li> 
        <li><%= link_to "Sign up", signup_path, class:"nav-link active" %></li>
    <% end %>
      </div>
    </div>
  </nav>
</nav>